<header id="cabecalho">
    <div id="logo">
        Esporte <span id="titulo-logo">Ar livre</span> 
    </div>

    <nav id="menu">
        <ul id="menu-ul">
            <li><a routerLink="/home" class="lnk-menu">Home</a></li>
            <li><a routerLink="/cadastroatleta" class="lnk-menu">Cadastro Atleta</a></li>
            <li><a routerLink='/corridas' class="lnk-menu">Cadastro corrida</a></li>
            <li><a routerLink="/lista-atletas" class="lnk-menu">Lista de Atletas</a></li>
            <li><a routerLink="/listacorridas" class="lnk-menu">Lista de Corridas</a></li>
            <li><a routerLink="/inscrição" class="lnk-menu">Inscrição</a></li>
            
        </ul>
    </nav>
</header>
