<header id="cabecalho">
    <div id="logo">
        Esporte <span id="titulo-logo">Ar livre</span> 
    </div>

    <nav id="menu">
        <ul id="menu-ul">
            <li><a routerLink="/home" class="lnk-menu">Home</a></li>
            <li><a routerLink="/cadastroatleta" class="lnk-menu">Cadastrar</a></li>
            <li><a routerLink="/home" class="lnk-menu">Cadastrar corrida</a></li>
            <li><a routerLink="/home" class="lnk-menu">Listar corrida</a></li>
            <li><a routerLink="/home" class="lnk-menu">Inscrição</a></li>
            
        </ul>
    </nav>
</header>
