<div id="div-form-corrida">
    <form id="form-corrida" (submit)="salvarCorrida()">
        <label for="descricao">Descrição da Corrida</label>
        <input type="text" name="descricao" [(ngModel)] = "descricao" id="descricao" class="input01" required    maxlength="80" placeholder="Ex: 5ª Maratona dos Cara">

        <label for="data">Data da Corrida:</label>
        <input type="date" name="data" [(ngModel)]="data" id="data" class="input02" required>

        <label for="opcoes-distancia">Distâncias Disponíveis:</label>
        <div class="opcoes-distancia">
            <input type="checkbox" name="dist5k" [(ngModel)]="dist5k" id="dist5k">
            <label for="dist5k">5 km</label>

            <input type="checkbox" name="dist10k" [(ngModel)]="dist10k" id="dist10k">
            <label for="dist10k">10 km</label>

            <input type="checkbox" name="dist25k" [(ngModel)]="dist25k" id="dist25k">
            <label for="dist25k">25 km</label>
        </div>

        <div id="div-btns">
            <button type="submit" id="btnAdd"> Cadastrar Corrida</button>
            <button type="reset" id="btnLimpar"> Limpar </button>
        </div>


    </form>
</div>
